services:
  - type: web
    name: blogger-server
    runtime: node
    rootDir: server
    buildCommand: npm install
    startCommand: npm run start:prod
    envVars:
      - key: NODE_ENV
        value: production
