BCRYPT_SALT_ROUND=13
CLOUDINARY_API_KEY=166467911236894
CLOUDINARY_API_SECRET=I7VL6zh4w6uNqiybcRbFbO5XarI
CLOUDINARY_CLOUD_NAME=dnspuuqjh
CORS_HEADERS=Content-Type,Authorization
CORS_METHODS=GET,POST,PUT,DELETE
CORS_ORIGIN=http://localhost:5173
DATABASE_URL="postgresql://postgres:250405@localhost:5432/blogger"
JWT_ACCESS_TOKEN_EXPIRY=15m
JWT_ACCESS_TOKEN_SECRET=CPjXhETHDZzSOQYyrhHxLfnKDSF9sAVlM2Sg7TCsTyQGk1zvWTbYJQfA15znRl9TXjGSmh8cgW4tn68BltFWWW84BkKioHeWM3Zz
JWT_REFRESH_TOKEN_EXPIRY=7d
JWT_REFRESH_TOKEN_SECRET=9auc6b057XeRDXJA8vOQH7J2AO2jlRtPa8hgGrWW9ysZXc02DkxY486xxDnTXF4z42icySqCG19rP8AKYd8GmJ17oe7o90Il7gRY
PORT=8000
REDIS_URL=redis://localhost:6379
SMTP_PASS="kasb nhjp vtcx bysz"
SMTP_USER=temp.nodemailer.temp@gmail.com